<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">MyLibrary</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/add" routerLinkActive="active">Add Category</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/livros" routerLinkActive="active">Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/livros/add" routerLinkActive="active">Add Book</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/emprestimos" routerLinkActive="active">Loans</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/relatorio/atrasados" routerLinkActive="active">Overdue</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
